body {
   background-color: #016f32;
   font-weight: bold;
   color: #faf6f6 ;
   background-size:cover;
   margin-top: 200px;
   text-align: center;
   justify-content: center;
}

h1 {
    color:rgb(228, 132, 14);
    font-style: unset;
}

#messages-el {
    font-style:italic ;
}

button {
    color: #016f32;
    width: 120px;
    background:rgb(228, 132, 14) ;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
}