body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #19d25d;
    color: #d5d8e1;
}

.game-container {
    text-align: center;
    max-width: 600px;
    background-color: #10471a;
    padding: 20px;
    border-radius: 10px;
}

.game-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

#player-info, #dealer-info {
    width: 55%;
}

#player-cards, #dealer-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#game-message {
    margin-top: 20px;
    font-size: 1.2em;
}
